<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h3> 로그인 페이지 </h3>

<form method="post" action="/member/logincontroller">
    아이디 : <input type="text" placeholder="아이디" name="mid" id="mid"> <br>
    비밀번호 : <input type="password" placeholder="비밀번호" name="mpassword" id="mpassword">
    <button type="submit"> 로그인 </button>
</form>
<button type="button" onclick="location.href='/oauth2/authorization/naver'"> 네이버 로그인 </button>
<button type="button" onclick="location.href='/oauth2/authorization/kakao'"> 카카오 로그인 </button>
<button type="button" onclick="location.href='/'"> 메인으로 </button>
</body>
</html>